# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# dotenv
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/launch.json

# Jupyter
.ipynb_checkpoints/

# DuckDB files
*.duckdb

# Dados (opcional: manter somente mock)
data/*.csv
data/*.parquet
!data/README.md
